---
layout: project
title: Getting Started
---

.row-fluid
  .hero-unit
    %h1 Getting Started
    %p Get Ready And Fast!!!
    .text-left
      %a.btn.btn-large.btn-success.hero-button{ :href=>"http://downloads.jboss.org/picketlink/2/latest/picketlink-installer-#{site.pom.latest.version}.zip"}Download the Installer
  .row-fluid
    .span12.well.post-bg
      .row-fluid
        .span12
          %h2 How to Get Started ?
          %p
            This page provides useful information to get you started with PicketLink. We recommend you to follow these steps for a better and speed learning of PicketLink:
            %ul
              %li
                <b>Download JBoss EAP or WildFly</b>
                <br/>
                PicketLink can be used on both servers. Use the
                %a(href="http://downloads.jboss.org/picketlink/2/latest/picketlink-installer-#{site.pom.latest.version}.zip") PicketLink Installer
                to configure them with the latest version of the PicketLink modules and libraries.
                <br/><br/>
              %li
                <b>Get the Quickstarts Up and Running</b>
                <br/>
                This is a very good way to learn from
                %a(href="https://github.com/jboss-developer/jboss-picketlink-quickstarts")examples.
                Use your favorite IDE to import the quickstarts and look at their sources. All quickstarts can be deployed on both JBoss EAP and WildFly.
                <br/><br/>
              %li
                <b>Spend Some Time Reading the Available Guides</b>
                <br/>
                Each one cover an important PicketLink aspect. They explain some core concepts and make easier to understand the quickstarts.
                <br/><br/>
              %li
                <b>Read the Reference Documentation</b>
                <br/>
                For more detailed information about a specific aspect of
                %a(href="http://docs.jboss.org/picketlink/2/latest/reference/html/")PicketLink.
                <br/><br/>
              %li
                <b>PicketLink JavaDoc Reference</b>
                <br/>
                For more detailed information on JavaDoc for API of 
                %a(href="http://docs.jboss.org/picketlink/2/latest/api/")PicketLink.
                <br/><br/>
              %li
                <b>Use the User Forum</b>
                <br/>
                And
                %a(href="https://community.jboss.org/en/picketlink/content?filterID=contentstatus[published]~objecttype~objecttype[thread]")post
                your questions and feedbacks.
  .row-fluid
    .span12.well.post-bg
      .row-fluid
        .span12
          %h2 Guides
          %p
            Here we provide some guidance and reference documentation about how you can easily and quickly secure any application using PicketLink.
          %p
            Some guides are based on the
            %a(href="https://github.com/jboss-developer/jboss-picketlink-quickstarts")PicketLink Quickstarts
            , which are very handy to demonstrate most of PicketLink features with some ready-to-use example applications. You can deploy them on both JBoss Enterprise Application Platform 6 or WildFly servers.
          %p
            Please take a look at the following sections to understand how to get started with PicketLink considering its different aspects and features.
          %p
            %ul
              %li
                %a(href="first_cdi_app")Your First PicketLink CDI Application
                <br/>
                %p This guide will show you how to secure a very simple application using PicketLink. It will cover some core concepts and it will make easier to you understand how those concepts are applied in a project.
              %li
                %a(href="saml_sso")Single Sign-On Using Security Assertion Markup Language (SAML)
                <br/>
                %p This guide will show you how to quickly and easily enable your applications to use SAML for Single Sign-On. It will cover some core concepts of SAML and how they are reflected in PicketLink.
              %li
                %a(href="idm_overview")Identity Management Overview<br/>
                %p This guide will show you how to use the PicketLink Identity Management API to manage identity data (users, roles, groups, credentials, attributes, etc).
              %li
                %a(href="custom_idm_model")Custom Identity Model<br/>
                %p This guide will show you how to use the PicketLink Identity Management API to design your own Identity Model.
              %li
                %p
                  %b
                    PicketLink Deep Dives by Shane Bryzak
                %p
                  %ul
                    %li
                      %a(href="http://in.relation.to/Bloggers/PicketLinkDeepDivePart1")Part One<br/>
                    %li
                      %a(href="http://in.relation.to/Bloggers/PicketLinkDeepDivePart2")Part Two<br/>
              %li
                %a(href="http://in.relation.to/Bloggers/SecuringYourApplicationsWithPicketLinkAndDeltaSpike")Securing Your Applications with PicketLink and DeltaSpike
                <br/>
                %p
                  If you’re looking for a simple way to secure your Java EE application’s classes and methods, then PicketLink in conjunction with DeltaSpike provides an elegant and flexible solution thanks to DeltaSpike’s support for typesafe security annotations. This powerful combination means you can easily apply security to your application in three simple steps, which we’ll be examining in more detail in this article.
            %ul
          %p
            The objective of these guides is to make you familiar with some core concepts of PicketLink, so you can start applying them to real world usecases.
            For more details about PicketLink and advanced configuration/usages, please take a look at our
            %a(href="http://docs.jboss.org/picketlink/2/latest/reference/html/") documentation.
  .row-fluid
    .span12.well.post-bg
      .row-fluid
        .span12
          %h2 Configuring PicketLink Dependencies to Your Project
      .row-fluid
        .span12
          %h3 If You're Using Apache Maven
          %p
            Please, follow the instructions at
            %a(href="http://docs.jboss.org/picketlink/2/latest/reference/html/Maven_Dependencies.html") Maven Dependencies.
      .row-fluid
        .span12
          %h3 Referencing PicketLink Modules when Using EAP 6 or WildFly
          %p
            If you're using JBoss EAP 6 or WildFly you don't need to ship the PicketLink libraries inside your deployment. Instead of that,
            you can use the <b>META-INF/jboss-deployment-structure.xml</b> file to configure all PicketLink dependencies.
          %p
            Please take a look at
            %a(href="http://docs.jboss.org/picketlink/2/latest/reference/html/Referencing_PicketLink_from_JBoss_Modules.html") Referencing PicketLink from JBoss Modules
            for more details.
          .well
            NOTE: Please, consider updating your EAP 6 or WildFly server with the latest PicketLink version using the installer.
      .row-fluid
        .span12
          %h3 Updating PicketLink Modules in JBoss Enterprise Application Platform 6 and WildFly
          %p
            PicketLink libraries are already shipped as modules in both JBoss Enterprise Application Platform 6 and WildFly at:
            %pre
              ${JBOSS_HOME}/modules/system/layers/base/org/picketlink
          %p
            In order to provide an easy way to properly update the modules with the latest version, we provide the
            %a(href="http://docs.jboss.org/picketlink/2/latest/reference/html/PicketLink_Installer.html") PicketLink Installer.
            Basically, it is just a simple Apache Ant script that knows how to get your server installation properly updated with the latest version of PicketLink. So you can always keep the latest features and fixes.
          %p
            Check our documentation for more details about the
            %a(href="https://docs.jboss.org/author/display/PLINK/WildFly+and+JBoss+Modules")PicketLink Modules
            in EAP 6 and WildFly.
  .row-fluid
    .span12.well.post-bg
      .row-fluid
        .span12
          %h2 Get, Deploy and Run A Lot of Example Applications !
          %p
            PicketLink provides a plenty of
            %a(href="http://docs.jboss.org/picketlink/2/latest/reference/html/chap-PicketLink_Quickstarts.html") quickstarts
            to let you drive quickly to some of the most important features.
          %p
            The quickstarts are available in the PicketLink Quickstarts 
            %a(href="https://github.com/jboss-developer/jboss-picketlink-quickstarts")repository.  
          %p
            Follow the instructions there to get them and deploy in a JBoss Enterprise Application Platform 6 or WildFly server.
  .row-fluid
    .span12.well.post-bg
      .row-fluid
        .span12
          %h2 Looking for more Information ?
          %p
            The PicketLink documentation is the best source of information about all the PicketLink features and usage.
          %p
            The documentation is available 
            %a(href="http://docs.jboss.org/picketlink/2/latest/reference/html/")here.
  .row-fluid
    .span12.well.post-bg
      .row-fluid
        .span12
          %h2 Presentations
          %p
            The presentations are available 
            %a(href="#{site.base_url}/presentations/decks/")here.
